<div class="login-container">
  <form class="form" [formGroup]="form" (ngSubmit)="submit($event)">

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput
               maxlength="40"
               formControlName="email">
        <mat-hint>{{ emailControl.value ? emailControl.value.length + '/40' : 'Up to 40 symbols' }}</mat-hint>
        <mat-error *ngIf="emailControl.invalid">{{ getEmailErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               type="password">
        <mat-hint>8 symbols or more</mat-hint>
        <mat-error *ngIf="passwordControl.invalid">{{ getPasswordErrorMessage() }}</mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button
            color="primary"
            [disabled]="form.invalid">
        Sign in
    </button>
  </form>
</div>
